[submodule ".local/dotbot"]
	path = .local/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".local/plugins/brew"]
	path = .local/plugins/brew
	url = https://github.com/d12frosted/dotbot-brew.git
