@-moz-document domain("duckduckgo.com") {
    article {
        margin-bottom: 50px;
    }

    .header--aside {
        display: none;
    }

    .feedback-btn {
        display: none;
    }

    .dropdown--safe-search {
        display: none;
    }
}